/*
******** contact.css *********
This file contains css styling for the contact page with address and map on either sides along with a background video for this section..
*/

div.address {
    float: left;
    padding-left: 100px;
    justify-content: center;
    justify-items: left;
    color: #6e1120;
    font-size: 30px;
}

.address {
    color: rgb(236, 217, 217);
    font-size: 25px;
}

div.maps {
    float: right;
    padding: 100px;
    padding-top: 0px;
    justify-content: center;
    justify-items: right;
}

.contact {
    position: relative;
    height: max-content;
    width: 100%;
    overflow: hidden;
}

#videobcg {
    position: absolute;
    margin-top: 30px;
    top: 0;
    left: 0;
    min-width: max-content;
    min-height: max-content;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    z-index: -100;
}

footer>p {
    text-align: center;
}